= form_for @profile, html: { class: "form-horizontal", role: "form" } do |f|
  -if @profile.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@profile.errors.count, "error")} работник не может быть сохранен потому что:"

      %ul
        - @profile.errors.full_messages.each do |msg|
          %li= msg

  / .form-group
  /   = f.label :worker_id, class: 'col-sm-2 control-label'
  /   .col-sm-10
  /     = f.number_field :worker_id, class: 'form-control'
  .form-group
    = f.label :first_name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label :last_name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :third_name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :third_name, class: 'form-control'
  .form-group
    = f.label :date_of_birthday, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.date_select :date_of_birthday, :start_year=>1950,:end_year=>2016, class: 'form-control'
  .form-group
    = f.label :photo_url, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :photo_url, class: 'form-control'
  .form-group
    = f.label :comment, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :comment, class: 'form-control'
  .form-group
    = f.label :rank, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :rank, class: 'form-control'
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Создать работника', class: 'btn btn-primary'
