.page-header
  = link_to profiles_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Назад
  = link_to @profile, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Открыть
  %h1 Редактировать работника

= render 'form'
