.page-header
  = link_to new_profile_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Создать работника
  %h1 Список работников

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Фамилия
        %th Имя
        %th Отчество
        %th Дата рождения
        %th Фото
        %th Комментрий
        %th Рейтинг
        %th Описание
        %th
        %th
        / %th

    %tbody
      - @profiles.each do |profile|
        %tr
          %td= profile.last_name
          %td= profile.first_name
          %td= profile.third_name
          %td= profile.date_of_birthday
          %td= image_tag profile.photo_url.small
          %td= profile.comment
          %td= profile.rank
          %td= profile.description
          %td= link_to 'Открыть', profile
          %td= link_to 'Редактировать', edit_profile_path(profile)
          / %td= link_to 'Удалить', profile, data: { confirm: 'Are you sure?' }, method: :delete
