.page-header
  = link_to profiles_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Назад
  = link_to edit_profile_path(@profile), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Редактировать
  %h1 Страница Работника
.col-xs-12.col-sm-6.col-md-6
  .well.well-sm
    .row
      .col-sm-6.col-md-4
        =image_tag @profile.photo_url.big, class: "img-rounded img-responsive"
      .col-sm-6.col-md-8
        %h4
          = "#{@profile.last_name} #{@profile.first_name} #{@profile.third_name}"
        %p
          %br/
          = succeed "#{@profile.date_of_birthday}" do
            %i.glyphicon.glyphicon-gift
          %br/
          = "Комментарий: #{@profile.comment}"
          %br/
          = "Заметки: #{@profile.description}"
.row
  .col-xs-8
    %h4 История заказов
    %hr
    - @profile.orders.each.with_index(1) do |order, index|
      .row
        .col-xs-1
          = "#{index}."
        .col-xs-1
          = link_to "заказ №#{order.id}", order
        .col-xs-2
          = link_to "Автомобиль #{order.client_car.model}", order.client_car
        .col-xs-4
          = order.service_types.map{ |service_type| service_type.title}.join(',')
        .col-xs-3
          = "#{order.start_time.strftime("%d-%m-%y %H:%M")} - #{order.end_time.strftime("%d-%m-%y %H:%M")}"
  .col-xs-4
    %h4 Комментарии
    %hr
    - @profile.comments.each do | comment |
      .row
        .col-xs-12
          = comment.body
          %span.pull-right.small
            = comment.created_at