= form_for @service_type, html: { class: "form-horizontal", role: "form" } do |f|
  -if @service_type.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@service_type.errors.count, "error")} услга не может быть сохранена потому что:"

      %ul
        - @service_type.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :category, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :category_id, Category.all.map{|u| [u.title, u.id]}, class: 'form-control'
  .form-group
    = f.label :amount, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :amount, class: 'form-control'
  .form-group
    = f.label :time_to_complete, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :time_to_complete, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Создать услугу', class: 'btn btn-primary'
