.page-header
  = link_to service_types_path(), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Назад
  = link_to @service_type, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Открыть
  %h1 Редактировать услугу

= render 'form'
