.page-header
  = link_to new_service_type_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Создать услугу
  %h1 Список услуг

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Заголовок
        %th Стоимость
        %th Время выполнения
        %th Категория
        %th
        %th
        %th

    %tbody
      - @service_types.each do |service_type|
        %tr
          %td= service_type.title
          %td= service_type.amount
          %td= Time.at(service_type.time_to_complete).utc.strftime("%H:%M")
          %td= service_type.category.title if service_type.category
          %td= link_to 'Открыть', service_type
          %td= link_to 'Редактировать', edit_service_type_path(service_type)
          %td= link_to 'Удалить', service_type, data: { confirm: 'Вы уверены?' }, method: :delete
