.page-header
  = link_to service_types_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Назад
  = link_to edit_service_type_path(@service_type), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Редактировать
  %h1 Страница услуги

%dl.dl-horizontal
  %dt Заголовок:
  %dd= @service_type.title
  %dt Стоимсоть:
  %dd= @service_type.amount
  %dt Время выполнения:
  %dd= Time.at(@service_type.time_to_complete).utc.strftime("%H:%M")
  %dt Категория:
  %td= @service_type.category.title if @service_type.category
