.page-header
  = link_to articles_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_article_path(@article), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show article

%dl.dl-horizontal
  %dt Title:
  %dd= @article.title
  %dt Body:
  %dd= raw(@article.body)
  %dt Active:
  %dd= @article.active
