= form_for @order, html: { class: "form-horizontal", role: "form" } do |f|
  -if @order.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :status, value: 'need_check'
  .row
    .col-xs-8
      .form-group
        .col-sm-2.control-label Услуги
        .col-sm-10
          = f.select :service_type_ids,  ServiceType.all.map{ |s| [s.title, s.id, 'data-amount' => "#{s.amount}", 'data-time' => "#{s.time_to_complete}"]}, {}, {multiple: true, class: 'form-control', size: 7}
      .form-group
        .col-sm-2.control-label Дополнительная информация
        .col-sm-10
          = f.text_field :detail_info, class: 'form-control'
    .col-xs-4
      .form-group
        .row
          .col-sm-2.control-label Время
          .col-sm-10
            .form-group
              #datetimepicker1.input-group.date
                = f.number_field :start_time, class: 'form-control', type: "text", value: Time.now
                %span.input-group-addon
                  %span.glyphicon.glyphicon-calendar
      .form-group
        %h3
          Ваш заказ:
        #total_amount
        = f.hidden_field :total_amount, class: 'form-control'
        = f.hidden_field :time_to_complete, class: 'form-control'
      .form-group
        = f.text_field :name, class: 'form-control', placeholder: 'Имя'
      .form-group
        = f.text_field :phone, class: 'form-control', placeholder: 'Телефон'
      .form-group
        = f.text_field :email, class: 'form-control', placeholder: 'Электронная почта'
      .form-group
        = f.submit 'Создать заказ', class: 'btn btn-primary'