= form_for @comment, html: { class: "form-horizontal", role: "form" } do |f|
  -if @comment.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :profile_id, value: @profile.id
  .col-xs-12
    %hr
    .form-group
      = f.text_field :author_name, class: 'form-control', placeholder: "Введите ваше имя..."
    .form-group
      = f.text_field :body, class: 'form-control', placeholder: "Текст комментария..."
    .form-group.text-center
      = f.submit 'Оставить комментарий', class: 'btn btn-primary'