- provide(:title, 'Акции')
.container
  .row
    .col-xs-12
      - @actions.each do |action|
        .row
          .col-xs-12
            %h3
              = action.title
            = truncate_html(action.body, length: 300)
          .col-xs-12.small
            = link_to 'Читать дальше...', show_content_path(action.id, 'action')