- provide(:title, 'Статьи')
.container
  .row
    .col-xs-12
      - @articles.each do |article|
        .row
          .col-xs-12
            %h3
              = article.title
            = truncate_html(article.body, length: 300)
          .col-xs-12.small
            = link_to 'Читать дальше...', show_content_path(article.id, 'article')