.container
  .row
    .col-xs-12.text-center
      %h4 Контакты
      %hr
    .row
      .col-xs-4.col-xs-offset-4.well
        (044) 238-24-92
        %br/
        РАБОТАЕМ БЕЗ ВЫХОДНЫХ:
        %br/
        %i Пн-Пт: с 8:00 до 21:00
        %br/
        %i Сб-Вс: с 8:00 до 19:00

    .col-xs-6
      %h5 Адрес и телефон СТО Krankr
      ул. Киквидзе, 43 (Печерский район), Киев, Украина, 01103
      %br/
      тел. (044) 285-31-56 (документы, бухгалтерия)
    .col-xs-6
      %h5 E-mail
      order@krankr.com.ua - Вопросы по заказам
      %br/
      manager@krankr.com.ua - Реклама, Вакансии, Торговые предложения


