/ .jumbotron
/   %h1 Welcome!
/   %p ...
/   %p
/     %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more
/ .row
/   .col-xs-4
/     %h3.text-center Новости
/     - @news.each do |news|
/       = news
/     .small
/       = link_to 'Все новости', news_client_path
/   .col-xs-4
/     %h3.text-center Акции
/     - @actions.each do |action|
/       = action
/     .small
/       = link_to 'Все акции', actions_client_path
/   .col-xs-4
/     %h3.text-center Статьи
/     - @articles.each do |article|
/       = article
/     .small
/       = link_to 'Все Статьи', articles_client_path
%body#page-top
  %header
    .header-content
      .header-content-inner
        %h1{style: 'color: white'} Ваш любимый сервис всегда рядом!
        %hr/
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Узнать больше
  %section#services
    .container
      .row
        .col-lg-12.text-center
          %h2.section-heading Гарантируем
          %hr.primary/
    .container
      .row
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-car.wow.bounceIn.text-primary
            %h3 Подход
            %p.text-muted Вы можете смело рассчитывать на результат
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-clock-o.wow.bounceIn.text-primary{"data-wow-delay" => ".1s"}
            %h3 Сроки
            %p.text-muted Вы экономите своё время!
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-money.wow.bounceIn.text-primary{"data-wow-delay" => ".2s"}
            %h3 Стоимость
            %p.text-muted Вы сохраняете свои деньги
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-thumbs-o-up.wow.bounceIn.text-primary{"data-wow-delay" => ".3s"}
            %h3 Качество
            %p.text-muted Вы пользуетесь лучшим
  %section#about.bg-primary{style: 'padding-top: 50px!important;'}
    .container
      .row.text-center.news
        .col-xs-4
          %h3.text-center
            = link_to 'Новости', news_client_path
          - @news.each do |news|
            %br/
            = link_to news.title, show_content_path(news.id, 'news')
        .col-xs-4
          %h3.text-center
            = link_to 'Акции', actions_client_path
          - @actions.each do |action|
            %br/
            = link_to action.title, show_content_path(action.id, 'action')
        .col-xs-4
          %h3.text-center
            = link_to 'Статьи', articles_client_path
          - @articles.each do |article|
            %br/
            = link_to article.title, show_content_path(article.id, 'article')
  %aside.bg-dark
    .container.text-center
      .call-to-action
        %h2 Лучшие условия только у нас!
        %a.btn.btn-default.btn-xl.wow.tada{:href => "#"} Запишись на обслуживание!
  %section#contact
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          %h2.section-heading Let's Get In Touch!
          %hr.primary/
          %p Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
        .col-lg-4.col-lg-offset-2.text-center
          %i.fa.fa-phone.fa-3x.wow.bounceIn
          %p +38099-377-22-77
        .col-lg-4.text-center
          %i.fa.fa-envelope-o.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
          %p
            %a{:href => "mailto:your-email@your-domain.com"} krankr@feedback.com