- provide(:title, 'Новости')
.container
  .row
    .col-xs-12
      - @news.each do |news|
        .row
          .col-xs-12
            %h3
              = news.title
            = truncate_html(news.body, length: 300)
          .col-xs-12.small
            = link_to 'Читать дальше...', show_content_path(news.id, 'news')