- provide(:title, "Спасибо! Заказ №#{@order.id}")
.container
  .row
    .col-xs-12.text-center
      %h4 Спасибо за заказ!
      %hr
      %h5
        ="Номер заказа №#{@order.id}"
      %h4 
        Услуги которые вы выбрали:
        = @order.service_types.map{ |service_type| service_type.title}.join(',')
      %h4 
        Сумма к оплате:
        = "#{@order.total_amount}грн."
      %h4
        Время на выполнение заказа:
        = Time.at(@order.time_to_complete).utc.strftime("%Hч %Mхв")