.container
  = link_to "< Назад", :back, class: 'btn'
  .row
    .col-md-6.col-xs-offset-3
      .well.well-sm
        .row
          .col-sm-6.col-md-4
            =image_tag @profile.photo_url.big, class: "img-rounded img-responsive"
          .col-sm-6.col-md-8
            %h4
              = "#{@profile.last_name} #{@profile.first_name} #{@profile.third_name}"
            %h5
              %i
                = @profile.description
            %h5
              %i
                Выполнено заказов:
                = @profile.orders.count
            %p
              = succeed "  #{@profile.date_of_birthday}" do
                %i.glyphicon.glyphicon-gift
  %i.text-center
    %h4
      Комментарии:
  %hr
  .row
    .col-md-8.col-xs-offset-2
      - @profile.comments.each do |comment|
        .media
          .media-left.media-middle
            %a{:href => "#"}
              = image_tag 'default_avatar.png'
          .media-body
            %h4.media-heading
              = comment.author_name
            .small
              = comment.created_at.strftime("%d-%m-%y")
            = comment.body
      = render partial: 'client_side/form_comment'