- provide(:title, 'Работники')
.container
  .row
    %hr
    .col-xs-12
      - @profiles.each do |profile|
        .col-xs-12.col-sm-6.col-md-6
          .well.well-sm
            .row
              .col-sm-6.col-md-4
                =image_tag profile.photo_url.big, class: "img-rounded img-responsive"
              .col-sm-6.col-md-8
                %h4
                  = link_to "#{profile.last_name} #{profile.first_name}", profiles_show_client_path(profile.id)
                %small
                  %i
                    Выполнено заказов:
                    %span{style: 'font-size: 16px;'}
                      = profile.orders.count
                %p
                  = profile.description
                %p
                  = succeed profile.date_of_birthday do
                    %i.glyphicon.glyphicon-gift