- provide(:title, 'Услуги')
.container
  .row
    .col-xs-12
      %h3
        Наши услуги:
      - @data.each do |category_name, service_types|
        .row
          .col-xs-12
            %h4
              = category_name
            - service_types.each do |service_type|
              .col-xs-4.well{style: 'border: 1px solid #e5e5e5'}
                .row
                  .col-xs-12
                    = service_type.title
                  .col-xs-12.text-right
                    = "Цена #{service_type.amount} грн."
        %hr
    .col-xs-12
      %h3
        Сделайте заказ
    = render partial: 'client_side/form'