= form_for @client_car, html: { class: "form-horizontal", role: "form" } do |f|
  -if @client_car.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@client_car.errors.count, "error")} prohibited this client_car from being saved:"

      %ul
        - @client_car.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :brand, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :brand, class: 'form-control'
  .form-group
    = f.label :model, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :model, class: 'form-control'
  .form-group
    = f.label :license_plate, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :license_plate, class: 'form-control'
  .form-group
    = f.label :vin, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :vin, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить автомобиль',class: 'btn btn-primary'
