.page-header
  = link_to :back, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Назад
  = link_to @client_car, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Открыть
  %h1 Редактирование автомобиля

= render 'form'
