.page-header
  = link_to new_client_car_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Client car
  %h1 Listing client_cars

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Client
        %th Brand
        %th Model
        %th License plate
        %th Vin
        %th
        %th
        %th

    %tbody
      - @client_cars.each do |client_car|
        %tr
          %td= client_car.client_id
          %td= client_car.brand
          %td= client_car.model
          %td= client_car.license_plate
          %td= client_car.vin
          %td= link_to 'Show', client_car
          %td= link_to 'Edit', edit_client_car_path(client_car)
          %td= link_to 'Destroy', client_car, data: { confirm: 'Are you sure?' }, method: :delete
