.page-header
  = link_to client_cars_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_client_car_path(@client_car), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1
    = "Страница автомобиля №#{@client_car.id}"

%dl.dl-horizontal
  %dt Клиент:
  %dd= @client_car.client.name
  %dt Марка:
  %dd= @client_car.brand
  %dt Модель:
  %dd= @client_car.model
  %dt Гос. номер:
  %dd= @client_car.license_plate
  %dt Vin:
  %dd= @client_car.vin
.row
  .col-xs-12
    %h4 История обслуживания
    %hr
    - @client_car.orders.each.with_index(1) do |order, index|
      .row
        .col-xs-1
          = "#{index}."
        .col-xs-2
          = link_to "заказ №#{order.id}", order
        .col-xs-5
          = order.service_types.map{ |service_type| service_type.title}.join(',')
        .col-xs-3
          = "#{order.start_time.strftime("%d-%m-%y %H:%M")} - #{order.end_time.strftime("%d-%m-%y %H:%M")}"

