/ %nav.navbar.navbar-default.navbar-fixed-top
/   .container
/     .navbar-header
/       %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar"}, aria: {expanded: "false", controls: "navbar"} }
/         %span.sr-only Toggle navigation
/         %span.icon-bar
/         %span.icon-bar
/         %span.icon-bar
/       = link_to "Krankr", root_path, class: "navbar-brand"
/     #navbar.collapse.navbar-collapse
/       %ul.nav.navbar-nav
/         %li{class: current_page?(service_types_client_path) ? 'active' : ''}
/           = link_to 'Услуги', service_types_client_path
/         %li{class: current_page?(actions_client_path) ? 'active' : ''}
/           = link_to 'Акции', actions_client_path
/         %li{class: current_page?(news_client_path) ? 'active' : ''}
/           = link_to 'Новости', news_client_path
/         %li{class: current_page?(articles_client_path) ? 'active' : ''}
/           = link_to 'Статьи', articles_client_path
/         %li{class: current_page?(profiles_client_path) ? 'active' : ''}
/           = link_to 'Работники', profiles_client_path
%nav#mainNav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to @site.title, root_path, class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li{class: current_page?(service_types_client_path) ? 'active' : ''}
          = link_to 'Услуги', service_types_client_path
        %li{class: current_page?(profiles_client_path) ? 'active' : ''}
          = link_to 'Работники', profiles_client_path
        %li{class: current_page?(actions_client_path) ? 'active' : ''}
          = link_to 'Акции', actions_client_path
        %li{class: current_page?(news_client_path) ? 'active' : ''}
          = link_to 'Новости', news_client_path
        %li{class: current_page?(articles_client_path) ? 'active' : ''}
          = link_to 'Статьи', articles_client_path
        %li{class: current_page?(contact_path) ? 'active' : ''}
          = link_to 'Контакты', contact_path
