%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar"}, aria: {expanded: "false", controls: "navbar"} }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Krankr", root_path, class: "navbar-brand"
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: current_page?(clients_path) ? 'active' : ''}
          = link_to 'Клиенты', clients_path
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Заказы
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to 'Создать заказ', new_order_path
            %li.divider
            %li
              = link_to 'Требуют проверки', orders_by_status_path(type: 'need_check')
            %li
              = link_to 'В процессе', orders_by_status_path(type: 'in_progress')
            %li
              = link_to 'Выполненые', orders_by_status_path(type: 'finished')
        %li{class: current_page?(service_types_path) ? 'active' : ''}
          = link_to 'Типы услуг', service_types_path
        %li{class: current_page?(categories_path) ? 'active' : ''}
          = link_to 'Категории', categories_path
        %li{class: current_page?(profiles_path) ? 'active' : ''}
          = link_to 'Работники', profiles_path
        %li{class: current_page?(settings_path) ? 'active' : ''}
          = link_to 'Настройки', settings_path
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Медиа
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to 'Новости', news_index_path
            %li
              = link_to 'Статьи', articles_path
      %ul.nav.navbar-nav.navbar-right
        - if worker_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_worker.email
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to 'Сменить пароль', edit_worker_registration_path
              %li
                = link_to 'Выйти', destroy_worker_session_path, {method: :delete}
        - else
          %li
            = link_to 'Войти', new_worker_session_path
          %li
            = link_to 'Регистрация', new_worker_registration_path
