.page-header
  = link_to clients_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Назад
  = link_to @client, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Открыть
  %h1 Изменить Клиента

= render 'form'
