.page-header
  = link_to new_client_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Создать Клиента
  %h1 Список Клиентов

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Имя
        %th Почта
        %th Телефон
        %th
        %th
        %th

    %tbody
      - @clients.each do |client|
        %tr
          %td= client.name
          %td= client.email
          %td= client.phone
          %td= link_to 'Открыть', client
          %td= link_to 'Редактировать', edit_client_path(client)
          %td= link_to 'Удалить', client, data: { confirm: 'Вы уверены?' }, method: :delete
  = paginate @clients
