.page-header
  = link_to clients_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Назад
  .row
    .col-xs-6
      %h3 Страница Клиента
    .col-xs-6.text-right
      = link_to 'Редактировать', edit_client_path(@client), class: 'btn btn-primary'
%dl.dl-horizontal
  %dt Имя:
  %dd= @client.name
  %dt Почта:
  %dd= @client.email
  %dt Телефон:
  %dd= @client.phone

.row
  .col-xs-6
    %h4 Автомобили:
  .col-xs-6.text-right
    = link_to "Добавить автомобиль", '#', :onclick => "showClientCarForm(this)", class: 'btn btn-success', id: 'show_form_button'
  .col-xs-12
    %hr
.row
  - @client.client_cars.each do |car|
    .col-sm-6.col-md-4
      .thumbnail
        / %img{:alt => "...", :src => "..."}/
        .caption
          = link_to car.brand, car
          %p
            = link_to 'Редактировать', edit_client_car_path(car), class: 'btn btn-primary'
            = link_to 'Удалить', car, data: { confirm: 'Вы уверены?' }, method: :delete, class: 'btn btn-danger'

= form_for @client_car, html: { class: "form-horizontal", role: "form", style: 'display: none;' } do |f|
  -if @client_car.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@client_car.errors.count, "error")} prohibited this client_car from being saved:"

      %ul
        - @client_car.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :client_id, value: @client.id, class: 'form-control'
  .form-group
    = f.label :brand, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :brand, class: 'form-control'
  .form-group
    = f.label :model, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :model, class: 'form-control'
  .form-group
    = f.label :license_plate, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :license_plate, class: 'form-control'
  .form-group
    = f.label :vin, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :vin, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Создать автомобиль', class: 'btn btn-primary'
    = link_to "Скрыть форму", '#', :onclick => "hideClientCarForm()", class: 'btn btn-success'

