= form_for @news, html: { class: "form-horizontal", role: "form" } do |f|
  -if @news.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@news.errors.count, "error")} prohibited this news from being saved:"

      %ul
        - @news.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :body, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :body, class: 'form-control tinymce', rows: 20
  .form-group
    = f.label :is_action, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_action, class: 'form-control'
  .form-group
    = f.label :active, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :active, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
