.page-header
  = link_to new_news_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New News
  %h1 Listing news

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Title
        %th Body
        %th Is action
        %th Active
        %th
        %th
        %th

    %tbody
      - @news.each do |news|
        %tr
          %td= news.title
          %td= truncate_html(news.body, length: 200)
          %td= news.is_action
          %td= news.active
          %td= link_to 'Show', news
          %td= link_to 'Edit', edit_news_path(news)
          %td= link_to 'Destroy', news, data: { confirm: 'Are you sure?' }, method: :delete
