.page-header
  = link_to news_index_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_news_path(@news), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show news

%dl.dl-horizontal
  %dt Title:
  %dd= @news.title
  %dt Body:
  %dd= raw(@news.body)
  %dt Is action:
  %dd= @news.is_action
  %dt Active:
  %dd= @news.active
