= form_for @setting, html: { class: "form-horizontal", role: "form" } do |f|
  -if @setting.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"

      %ul
        - @setting.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :enable, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :enable, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
