.page-header
  %h1 Listing settings

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Title
        %th Enable
        %th
    %tbody
      - @settings.each do |setting|
        %tr
          %td= setting.title
          %td= setting.enable
          %td= link_to 'Edit', edit_setting_path(setting)
