.page-header
  = link_to settings_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_setting_path(@setting), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show setting

%dl.dl-horizontal
  %dt Title:
  %dd= @setting.title
  %dt Enable:
  %dd= @setting.enable
