= form_for :order, :url => {:action => "create"},  html: { class: "form-horizontal", role: "form" } do |f|
  -if @order.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-xs-8
      .form-group
        .col-sm-2.control-label
          Работник
        .col-sm-10
          = f.select :profile_id, Profile.all.map{|u| [u.first_name, u.id]}, {}, class: 'form-control'
      .form-group
        .col-sm-2.control-label
          Клиент
        .col-sm-10
          = f.select :client_id, Client.all.map{|c| ["#{c.name}", c.id]}, {:include_blank => true}, {class: 'form-control', onchange: 'getClientCars(this);'}
      .form-group
        .col-sm-2.control-label
          Автомобиль
        .col-sm-10
          = f.select :client_car_id, ClientCar.all.map{|c| ["#{c.brand}", c.id]}, {:include_blank => true}, class: 'form-control'
      .form-group
        .col-sm-2.control-label Услуги
        .col-sm-10
          = f.select :service_type_ids,  ServiceType.all.map{ |s| [s.title, s.id, 'data-amount' => "#{s.amount}", 'data-time' => "#{s.time_to_complete}"]}, {}, {multiple: true, class: 'form-control', size: 7}
      .form-group
        .col-sm-2.control-label
          Детали
        .col-sm-10
          = f.text_field :detail_info, class: 'form-control'
    .col-xs-4
      .form-group
        .col-sm-2.control-label Начало работ
        .col-sm-10
          .form-group
            #datetimepicker1.input-group.date
              = f.number_field :start_time, class: 'form-control', type: "text", value: @order.start_time || Time.now
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
      .form-group
        .col-sm-2.control-label Статус
        .col-sm-10
          = f.select :status, Order.statuses.keys.to_a.map { |o| [o.humanize, o] }, class: 'form-control'
      .form-group
        .col-sm-2.control-label Сумма и время
        .col-sm-10
          #total_amount
          = f.number_field :total_amount, class: 'form-control'
          = f.number_field :time_to_complete, class: 'form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit class: 'btn btn-primary'