.row
  .col-xs-12
    %ul.nav.nav-pills.nav-justified
      %li{class: current_page?(orders_by_status_path(type: 'need_check')) ? 'active' : ''}
        = link_to 'Требуют проверки', orders_by_status_path(type: 'need_check')
      %li{class: current_page?(orders_by_status_path(type: 'in_progress')) ? 'active' : ''}
        = link_to 'В процессе', orders_by_status_path(type: 'in_progress')
      %li{class: current_page?(orders_by_status_path(type: 'finished')) ? 'active' : ''}
        = link_to 'Выполненые', orders_by_status_path(type: 'finished')
.page-header
  = link_to new_order_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Создать Заказ
  .row
    .col-xs-12
      %h1 Список Заказов
      .row
        .col-xs-4
          %span Указать дату:
          .form-group
            #datetimepicker2.input-group.date
              %input.form-control{:type => "text"}/
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Мастер
        %th Клиент
        %th Услуги
        %th Комментарий
        %th Статус
        %th Сумма
        %th Время
        %th
        %th
        %th

    %tbody
      - @orders.each do |order|
        %tr
          %td= link_to order.profile.first_name, order.profile if order.profile
          %td= link_to order.client.name, order.client if order.client
          %td= order.service_types.map{ |service_type| service_type.title}.join(',')
          %td= order.detail_info
          %td= order.status
          %td= order.total_amount
          %td= "#{order.start_time.strftime("%d-%m-%y %H:%M")} - #{order.end_time.strftime("%d-%m-%y %H:%M")}" if order.start_time && order.end_time
          %td= link_to 'Открыть', order
          %td= link_to 'Редактировать', edit_order_path(order)
          %td= link_to 'Удалить', order, data: { confirm: 'Вы уверены?' }, method: :delete
  = paginate @orders
