.page-header
  = link_to :back, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Назад
  = link_to edit_order_path(@order), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Редактировать
  %h1
    = "Страница заказа №#{@order.id}"

%dl.dl-horizontal
  %dt Работник:
  %dd= link_to @order.profile.first_name, @order.profile if @order.profile
  %dt Клиент:
  %dd= link_to @order.client.name, @order.client if @order.client
  %dt Услуги:
  %dd= @order.service_types.map{ |service_type| service_type.title}.join(',')
  %dt Комментарий:
  %dd= @order.detail_info
  %dt Статус:
  %dd= @order.status
  %dt Сумма:
  %dd= @order.total_amount
  %dt Имя:
  %dd= @order.name
  %dt Телефон:
  %dd= @order.phone
  %dt Почта:
  %dd= @order.email
  %dt Время:
  %dd= "#{@order.start_time.strftime("%d-%m-%y %H:%M")} - #{@order.end_time.strftime("%d-%m-%y %H:%M")}" if @order.start_time && @order.end_time
