= form_for @category, html: { class: "form-horizontal", role: "form" } do |f|
  -if @category.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@category.errors.count, "error")} категория не может быть сохранена потому что:"

      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .col-sm-2.control-label
      Заголовок:
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Создать категорию',class: 'btn btn-primary'
