.page-header
  = link_to new_category_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Создать категорию
  %h1 Список категорий

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Заголовок
        %th
        %th
        %th

    %tbody
      - @categories.each do |category|
        %tr
          %td= category.title
          %td= link_to 'Открыть', category
          %td= link_to 'Редактировать', edit_category_path(category)
          %td= link_to 'Удалить', category, data: { confirm: 'Вы уверены?' }, method: :delete
