.page-header
  = link_to categories_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Назад
  = link_to edit_category_path(@category), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Редактировать
  %h1 Категория

%dl.dl-horizontal
  %dt Title:
  %dd= @category.title
