!!!
%html
  %head
    %title
      - if yield(:title).empty?
        Krankr Service
      - else
        = "#{yield(:title)} / Krankr Service"
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = tinymce_assets
  %body
    %header
      - if worker_signed_in?
        = render partial: 'shared/header'
    .container
      = render partial: 'shared/flash', flash: flash
      = yield
