!!!
%html
  %head
    %title
      - if yield(:title).empty?
        Krankr Service
      - else
        = "#{yield(:title)} / Krankr Service"
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}

    = stylesheet_link_tag    'application_client'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic", :rel => "stylesheet", :type => "text/css"}/
  %body
    = render partial: 'shared/client_header'
    .container
      = render partial: 'shared/flash'
    = yield
